{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard</h2>
<ul>
  {% for course in courses %}
    <li>{{ course.course_name }} - {{ course.month }}</li>
  {% endfor %}
</ul>
<h2>Add New Course?</h2>
<form action="{{ url_for('admin.add_course') }}" method="POST" enctype="multipart/form-data">
  <input name="course_name" placeholder="Course Title" required>
  <input name="month" placeholder="Month" required>
  <input name="order" type="number" placeholder="Order" required>
  <h5>Course Thumbnail</h5><input type="file" name="image_file" accept="image/*"><br>
  <textarea name="description" placeholder="Description"></textarea>
  <button type="submit">Add Course</button>
</form>
{% for course in courses %}
  <div class="course card p-3 mb-3">
    <h3>{{ course.course_name }}</h3>
    <a href="{{ url_for('admin.edit_course', course_id=course.id) }}" class="btn btn-primary">Edit</a>
    <button onclick="deleteCourse({{ course.id }})" class="btn btn-danger">Delete</button>
  </div>
{% endfor %}


<script>
  function deleteCourse(courseId) {
      fetch("/admin/delete-course", {
          method: "POST",
          body: JSON.stringify({ courseId: courseId }),
          headers: {
              "Content-Type": "application/json"
          }
      }).then((_res) => {
          window.location.href = "/admin";
      });
  }
</script>
  

{% endblock %}