{% extends "base.html" %}
{% block title %}Edit Post{% endblock %}
{% block content %}
<form method="POST">
    <input type="text" name="post_title" placeholder="Title" required><br>
    <textarea name="content" placeholder="Write something..." required></textarea><br>
    <input type="text" name="image_url" placeholder="Image URL (optional)"><br>
    <input type="text" name="tags" placeholder="Tags (e.g., #portrait #sketch)"><br>
    <button type="submit">Post</button>
  </form>
{% endblock %}  
